.btn{
    border:none;
    border-radius: 0;
    padding: 1em 4em;
    background: rgba(0,0,0,0.5);
    text-transform: uppercase;
}

.btn:hover,.btn:active{
    color: #fff;
}

.btn-default{
    color: #ffffff;
    border: 1px solid #aaa;
}

.btn-default:hover,.btn-default:active{
    background: #B03A2E;
}

.btn-primary{color: #fff;
    background:#666;
    width: 100%;
    outline: none;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    background:#333;
    box-shadow: none;
}

/*banner*/
.banner{
    position: relative;
    height: 850px;
    /*background-image: url(../images/music1.jpg);*/
    background-image: url(../assets/images/music1.jpg);
}

.banner .caption{
    position: absolute;
    top: 0;
    left:0; 
    right: 0; 
    bottom: 0;
    background:rgba(0,0,0,0.9); }

.banner .caption-wrapper{
    display: table;
    height: 100%;
    width: 100%;}

.banner .caption-info{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;}

.banner .caption-info h1{
    font:normal 4.5em Josefin Sans,Arial,Helvetica;
    text-transform:capitalize;
}

.banner .caption-info p{
    font:600 1.7em Josefin Sans,Arial,Helvetica;
}




